#white-space-at-the-bottom-of-the-page {
    height: 500px;
}

#router {
    max-width: 90%;
    min-width: 360px;
    margin: auto;
}

.portrait {
    border-radius: 20%;
    margin: auto;
    border: solid;
    border-color: white;
}

.thumbnail-text {
    padding: 5px;
    margin: 0px;
    color: #222;
}

.headline {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-name-logo {
    display: flex;
    flex-direction: column;
}



.my-name-logo h1,
.my-name-logo div {
    display: block;
    margin: 0;
}

.open-to-work {
    display: inline-block;
    /* background: linear-gradient(to right, rgb(0, 100, 0, 0), rgb(0, 100, 0, 1) 10%, rgb(0, 100, 0, 1) 90%, rgb(0, 100, 0, 0)) */
}

.open-to-work * {
    text-wrap: nowrap;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
}

.open-to-work-middle {
    background: rgb(0, 100, 0, 1);
}

.open-to-work-left {
    width: 28px;
    height: 24px;
    background: linear-gradient(to right, rgb(0, 100, 0, 0), rgb(0, 100, 0, 1))
}

.open-to-work-right {
    width: 28px;
    height: 24px;
    background: linear-gradient(to right, rgb(0, 100, 0, 1), rgb(0, 100, 0, 0))
}

.clickable:hover {
    /* background-color: rgb(0, 0, 255, 1.0); */
    scale: 110%;
    /* box-shadow: 3px 3px 2px rgb(255, 255, 255, 0.8); */
    background-color: rgb(255, 255, 255, 0.2);
}

.clickable {
    cursor: pointer;
}

.github.icon {
    color: white;
    background: black;
    border-radius: 50%;
}

.linkedin.icon {
    color: #004b8d;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0) 20%, rgb(255, 255, 255, 1)25%, rgb(255, 255, 255, 1) 75%, rgb(0, 0, 0, 0) 80%, rgb(0, 0, 0, 0));
}

.medium.icon {
    color: white;
    background: black;
    /* border: solid;
    border-color: white; */
}


#about .icon {
    font-size: 40px;
    padding: 0;

}

#about-linkedin-icon-row {
    display: flex;
}

#about-linkedin-icon-row>.whitespace {
    width: 100%;
}