#white-space-at-the-bottom-of-the-page {
    height: 500px;
}

#router {
    max-width: 90%;
    min-width: 600px;
    margin: auto;
}

.portrait {
    border-radius: 20%;
    margin: auto;
    border: solid;
    border-color: white;
}

.link:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.thumbnail-text {
    padding: 5px;
    margin: 0px;
    color: #222;
}

.headline {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}