:root {
    --articleOpacityPosition: 0px;
}

#article,
#about {
    min-width: 360px;
    max-width: 700px;
    margin: auto;
    /* -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 1) -200%,
            rgba(255, 255, 255, 1) 0px,
            rgba(255, 255, 255, 0) 300px,
            rgba(255, 255, 255, 0) 100%);
    -webkit-mask-size: 300%, 100%; */
}

/* @keyframes translateMaskPosition {
    0% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: 0 calc(-100% - 150px);
    }

    100% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: 0 100%;
    }
} */

/* #article,
#about {
    animation-name: translateMaskPosition;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */