#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
    max-width: 85%;
    margin: auto;
    /* border-bottom: solid; */
    border-color: white;
    margin-top: 0px;
    margin-bottom: 20px;
}

#header-portrait-container {
    margin: auto;
}

/* #header-portrait-container * {
    cursor: pointer;
} */

#header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    text-wrap: nowrap;
    /* margin-right: 50px; */
}

#header a {
    text-wrap: nowrap;
    color: white;
}



#header .image-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    margin-right: 30px;
    border: solid;
    border-color: white;
}

#header .portrait {
    flex: none;
    zoom: 20%;
    transform: translate(-10px, -150px)
}

div#header-open-to-work>* {
    display: inline-block;
}

div#header-open-to-work {
    display: flex;
    align-items: center;
}