#home {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

#home h1 {
    text-align: center;
}

#card-filter {
    height: 200px;
    border: solid;
}

#content {
    max-width: 1070px;
    display: flex;
    margin: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}