@keyframes slideOffLeft {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(-100vh);
        height: 0;
        margin: 0;
        /* padding: 0; */
        margin-bottom: 0;
    }
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    margin-bottom: 800px;
    min-width: 300px;
    padding: 20px;
}



/* #intro-links {
    display: flex;
    justify-content: space-between;
    padding: 15px;
} */

#intro.hide {
    animation: slideOffLeft 1.5s cubic-bezier(0.3, 0.0, 0.3, 1.0) forwards;
}

#intro-content {
    max-width: 400px;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 0;
}

#intro-content * {
    text-align: center;
}

#pfp {
    width: 300px;

    border-width: 3px;
}

#intro div button {
    padding: 10px;
    margin: 100px;
    background-color: rgb(0, 0, 0, 0);
    border-width: 3px;
    border-radius: 10px;
    border-color: #e0e0e0;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 0;
}